jobs:
- job: macOs
  pool:
    name: Hosted macOS
  steps:
    - template: .azure/install.yml
    - template: .azure/tests.yml

- job: linux
  pool:
    name: Hosted Ubuntu 1604
  steps:
    - template: .azure/install.yml
    - template: .azure/tests.yml

- job: win
  dependsOn:
  - macOs
  - linux
  pool:
    name: Hosted VS2017
  steps:
    - template: .azure/install.yml
      parameters:
        installScript: '@powershell -NoProfile -ExecutionPolicy unrestricted -Command "[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12; &([scriptblock]::Create((Invoke-WebRequest -useb 'https://dot.net/v1/dotnet-install.ps1'))) {0}"'

    - template: .azure/tests.yml
    - template: .azure/test.yml
      parameters:
        path: tests/msgpack.spec.tests/msgpack.spec.tests.csproj
        framework: net46

    - task: PowerShell@2
      displayName: pack nuget package
      inputs:
        targetType: inline
        script: |
            $version = $(git describe --tags | %{$_ -replace '-([^g])', '.$1'})
            dotnet pack --no-build -v minimal -c Release /property:Version=$version /property:PackageOutputPath=$(Build.ArtifactStagingDirectory)

    - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - task: NuGetCommand@2
        displayName: push nuget packages
        inputs:
          command: push
          packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
          nuGetFeedType: external
          publishFeedCredentials: api.nuget.org

    - task: PublishBuildArtifacts@1
      inputs:
        pathtoPublish: '$(Build.ArtifactStagingDirectory)'
        artifactName: .nupkgs
